.footer-container{
    background-color: black;
    color: gray;
    font-size: 14px;
    text-align: right;
   
   
}

.footer-text{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}


.footer-list{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    color: white;
 
}

.footer-link{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .footer-list{
       flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        

        

            }

    
}