
.navigation-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative; 
}


.logo-container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}


.logo-text {
    font-size: 40px;
    background: linear-gradient(to right, #ffffff, #3c3c39);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}


.navigation-list {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
}


.navigation-link {
    text-decoration: none;
    color: #6c6c67;
    font-weight: 400;
    font-size: 20px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}


.navigation-link:hover {
    color: white;
}
.hamburger {
    display: none; /* Hidden by default */
    font-size:40px;
    cursor: pointer;
    color: white;
}


.hamburger .fa-xmark {
    display: none;
    font-size: 40px; 
    color: white;
}



    @media (max-width: 768px) {
        .navigation-menu {
            display: none; 
            flex-direction: column; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color:#3c3c39 ; 
            z-index: 2;
            
            transition: transform 0.3s ease-in-out;
            transform: translateX(-100%);
           
            
        }

    
        .navigation-menu.active {
            transform: translate(0);
            display: flex; 
        }
        
        .hamburger {
            display: block; /* Show hamburger icon */
            z-index: 3;
            position: relative;
        }
    
        .navigation-list {
            flex-direction: column; /* Stack items vertically */
            align-items: center; 
            justify-content: space-evenly;
            width: 100%;
            padding: 10px;
            height: 100%
        }
    
        .navigation-link {
            margin: 40px;
            text-align: center;
            color: white;
            font-size: 50px;
            transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;   
        }
        .navigation-link:hover {
            color: #ffcc80;
            text-decoration: underline;
            
        }

        .hamburger .fa-bars {
            display: block; 
        }
    

        .hamburger .fa-xmark {
            display: block;
            position: fixed;
            z-index: 3;
            top: 20px;
            right: 20px;
            font-size: 40px;
            cursor: pointer;
            color: white;
            
        }
    }


@media (max-width: 400px){
    .logo-text{
        font-size: 30px;
    }
    .navigation-link {
        margin: 40px;
        text-align: center;
        color: white;
        font-size: 25px;
        transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;   
    }
}




